numpy

matplotlib

sklearn

torch
Pillow
tifffile

tqdm

py-cpuinfo

opencv-python

hyperspy

ipywidgets

msgpack

zict

sortedcontainers

pyNSID

pycroscopy

sidpy==0.11.1

torchsummary

wget

xlrd

dataerai-cli

dataerai-sdk[ml,notebook]>=0.2.0b1,<0.3
