numpy

matplotlib

sklearn

torch
Pillow
tifffile

tqdm

py-cpuinfo

opencv-python

hyperspy

ipywidgets

msgpack

zict

sortedcontainers

pyNSID

pycroscopy

sidpy==0.11.1

torchsummary

wget

xlrd

dataerai-cli-beta==0.1.54

dataerai-sdk[notebook]==0.2.0b52
