tensorflow

scipy==1.10.1

h5py==3.8.0

matplotlib==3.7.1
beautifulsoup4==4.11.1
BGlib==0.0.4

autopep8==2.0.2

scikit-learn==1.2.2

tqdm==4.62.3

seaborn==0.12.2

numpy

torch

torchvision

torchaudio
py-cpuinfo
opencv-python
hyperspy

sidpy