numpy
scipy
matplotlib
seaborn
scikit-learn
scikit-image
h5py
torch
torchvision
torchaudio
Pillow
imageio
opencv-python
tqdm
pandas
py-cpuinfo
wget
gdown
zenodopy
BGlib
pyUSID
sidpy
dataerai-cli-beta
dataerai-sdk[ml,notebook]>=0.2.0b1,<0.3
